.Menu {
  display: flex;
  justify-content: start;
  height: 800px;
  padding-left: 5px;
  background-color: rgba(244, 245, 252, 1);
}

.botones {
  height: 40%;
  margin: 20px 0 0 20px;
}

.texto-boton {
  display: flex;
  align-items: center;
}

.boton {
  margin-top: 40px;
}

.boton:hover {
  background-color: rgba(108, 17, 217, 1);
  color: white;
}

.boton-cliente:hover {
  background-color: rgba(108, 17, 217, 1);
  color:white
}

.clientes-top {
  height: 40%;
  margin: 20px 0 10px 5px;
}

.Texto-ordenes {
  color: rgba(108, 17, 217, 1);
}

.page-link {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #dee2e6 !important;
}

.page-link:hover {
  color: white !important;
  background-color: rgba(108, 17, 217, 1) !important;
  border-color: #dee2e6 !important;
}

.encabezado-tabla {
  --bs-table-bg: #f4f5fc !important;
}

.tabla-resumen th {
  color: #5c6f88 !important;
}

.logout:hover {
  background-color: firebrick;
}