.Menu {
  display: flex;
  justify-content: start;
  height: 800px;
  width: 300px;
  background-color: rgba(244, 245, 252, 1);
}

.botones {
  height: 40%;
  margin: 20px 0 10px 20px;
}

.texto-boton {
  display: flex;
  align-items: center;
}

.boton {
  padding: 20px 0 10px 0;
}

.boton:hover {
  background-color: rgba(108, 17, 217, 1);
}
